* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.retContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
    grid-gap: 20px;
    margin: 0 auto;
}

.ret {
    cursor: pointer;
}

.ret:nth-child(odd) {
    background-color: aliceblue;
}

.ret:nth-child(even) {
    background-color: antiquewhite;
}

.ret img {
    width: 100%;
}

header {
    height: 300px;
    text-align: center;
    background-color: aliceblue;
}

.buttons {
    grid-template-columns: 1/4;
    text-align: center;
}

#splash {
    height: 300px;
    background-color: aliceblue;
    grid-column: 1/4;
}

#overskrift {
    grid-column: 1/4;

    height: 50px;
    color: black;
    text-align: center;
}

footer {
    height: 120px;
    width: 80vw;
    margin: 0 auto;
}

button {
    cursor: pointer;

}

#popup {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    visibility: hidden;

}

.popupcontent {

    background-color: white;
    width: 60vw;
    height: auto;
    padding: 20px;
    position: static;
    text-align: center;
    margin: 40px auto;


}

.single-img {
    width: 100%;
}


@media screen and (min-width:801px) {

    .single-img {

        width: 60vw;

    }


}

@media screen and (max-width:800px) {

    .retContainer {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media screen and (max-width:630px) {

    .retContainer {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width:550px) {

    .retContainer {
        grid-template-columns: 1fr;
    }

}
