* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.retContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: 0 auto;
}

.ret {
    width: 250px;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

.ret:nth-child(odd) {
    background-color: aliceblue;
}

.ret:nth-child(even) {
    background-color: antiquewhite;
}

.ret img {
    width: 100%;
}

header {
    height: 300px;
    text-align: center;
    background-color: aliceblue;
}

.buttons {
    grid-template-columns: 1/4;
    text-align: center;
}

#splash {
    height: 300px;
    background-color: aliceblue;
    grid-column: 1/4;
}

#overskrift {
    grid-column: 1/4;

    height: 50px;
    color: black;
    text-align: center;
}

footer {
    height: 120px;
    max-width: 800px;
    margin: 0 auto;
}

button {
    cursor: pointer;

}

#popup {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    visibility: hidden;
}

.popupcontent {

    background-color: white;
    width: 60vw;
    height: 57vw;
    margin: 0 auto;
}

.single-img {
    width: 100%;
}

.popupret {}
